<p id="notice"><%= notice %></p>

<h1>Cepas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Proporcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cepas.each do |cepa| %>
      <tr>
        <td><%= cepa.nombre %></td>
        <td><%= cepa.proporcion %></td>
        <% if current_user.admi?%>
          <td><%= link_to 'Show', cepa %></td>
          <td><%= link_to 'Edit', edit_cepa_path(cepa) %></td>
          <td><%= link_to 'Destroy', cepa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.admi?%>
<%= link_to 'New Cepa', new_cepa_path %>
<%end%>
